.woman-pant {
    background-image: url(https://i.ibb.co/5RTsQZJ/Rectangle-383.png);
}

.mens-jacket {
    background-image: url(https://i.ibb.co/ZgHnYqQ/Rectangle-384-1.png);
}

.womens-tops {
    background-image: url(https://i.ibb.co/VSHZ54D/Rectangle-385.png);
}

.sweater {
    background-image: url(https://i.ibb.co/2tzFLNw/Rectangle-386.png);
}

.pants {
    background-image: url(https://i.ibb.co/vsKTFhq/Rectangle-387.png);
}

.woman-jackets {
    background-image: url(https://i.ibb.co/P9VL9zk/Rectangle-388.png);
}