.footer-div {
    margin-top: 100px;
    height: 500px;
    background: #00071B;
}

.footer-input {
    background: #00071B;
}

.divider {
    margin-top: 40px;
    background-color: white;
    height: 0.5px;
}